.hidden {
    display: none;
}

.gif-results {
    display: flex;
    flex-flow: row wrap;
}

body {
    background-color: bisque;
}

button {
    color: aliceblue;
    background-color: black;
    padding: 0.5em;
}

h1 {
    color: rgb(95, 32, 10);
}